-i https://pypi.org/simple/
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
class-registry==2.1.2
cryptography==3.2
filters==1.3.2
idna==2.8
numpy==1.16.4
pycparser==2.20
pycryptodome==3.8.2
pynacl==1.3.0
pyopenssl==19.1.0
pyota==2.0.7
pysha3==1.0.2
python-dateutil==2.8.1
pytz==2020.1
regex==2020.10.23
requests[security]==2.22.0
six==1.15.0
urllib3==1.25.3
